<header class="site-header">

  <div id="header">
    <nav>
        <button id="head"><a href="{{site.baseurl}}/">Home</a></button>
        <button id="head"><a href="{{site.baseurl}}/compsci">CompSci</a></button>
        <button id="head"><a href="{{site.baseurl}}/blogs">Blogs</a></button>
        <button id="head"><a href="{{site.baseurl}}/help">Help</a></button>
        <button id="head"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></button>
    </nav>
  </div>
</header>