---
---

@import "{{ site.theme }}";

// STYLING PREFERNCES for SITE
// mixin used as a template for buttons
  @mixin button {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #21807c;
    border: 3px solid black;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 1;
    grid-row: span 1;

    // Creates smooth animation effect
    transition: all 0.5s; 
  }

/* Reset some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #b0c4de; /* Cream background color */
  color: #333; /* Text color */
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px; /* Round edges */
  background-color: #3498db; /* Button color */
  color: #fff; /* Button text color */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

/* Hover animation */
.button:hover {
  background-color: #2980b9; /* Darker color on hover */
}

#converterContainer {
  margin-bottom: 20px; /* Adds margin at the bottom of the converter container */
  text-align: center; /* Aligns content in the center horizontally */
}
#binaryInput {
  padding: 10px; /* Adds padding around the input field */
  font-size: 16px; /* Sets the font size for the input field */
  margin-bottom: 10px; /* Adds margin at the bottom of the input field */
  width: 300px; /* Sets the width of the input field */
}
#convertButton {
  padding: 10px 20px; /* Adds padding to the button */
  font-size: 16px; /* Sets the font size for the button */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}
#userInputs {
  text-align: center; /* Aligns content in the center horizontally */
  margin-bottom: 20px; /* Adds margin at the bottom of the user inputs */
}
#userInputs h1,
#userInputs p {
  margin-bottom: 10px; /* Adds margin at the bottom of the heading and paragraph */
}
#head {
  background-color: #333;
  padding: 15px 0;
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    height: 40px; /* Set a fixed height */
    width: 100px; /* Set a fixed width */
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #555;
    }
  }
}
